@media screen and (max-width: 576px) {
  .main-container {
    padding: 40px;
  }
  .container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 2048px) {
  .main-container {
    padding: 40px;
  }
  .container {
    flex-wrap: wrap;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Verdana";
  padding: 40px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.name-field {
  width: 260px;
  font-size: 14px;
  border-radius: 5px;
}

.comment-field {
  width: 260px;
  height: 100px;
  font-family: "Roboto";
  padding: 15px;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
  width: 100%;
  max-width: 400px;
  outline: none;
  background: #fff;
}

::placeholder {
  color: gray;
}

.btn {
  background-color: #1e293bd5;
  border-radius: 5px;
  border-style: none;
  color: white;
  outline: 1px black solid;
  padding: 5px;
  font-size: 12px;
  width: 110px;
  margin-bottom: 10px;
}

.comments-container {
  color: #334155;
  font-size: 14px;
}

.count {
  margin: 20px 0;
  transform: translateX(-75%);
}

.comment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
  padding: 40px;
  width: 100%;
  margin-top: -30px;
}
