@media screen and (max-width: 576px) {
  .comment-item {
    max-width: 280px;
  }
}

@media screen and (max-width: 1920px) {
  .comment-item {
    min-width: 280px;
  }
}

.comment-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 220px;
  width: 280px;
  margin-bottom: 5px;
  background-color: #e6e6e6;
  padding: 20px;
}

.content {
  max-width: 220px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.user-name {
  display: inline;
  margin: 0 auto;
  word-break: break-all;
  background-color: #222;
  padding: 10px;
  width: fit-content;
  max-width: 220px;
  color: white;
  font-size: 16px;
  text-align: center;
  border-radius: 25px;
}

.content-item {
  max-width: 220px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.time {
  display: inline;
  flex-wrap: wrap-reverse;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #94a3b8;
  word-wrap: break-word;
  margin-top: 20px;
  transform: translateX(40px);
  font-size: 12px;
}

.comment-line {
  display: inline;
  align-content: center;
  color: #64748b;
  font-size: 14px;
  margin-top: 0px;
  max-width: 220px;
  width: 100%;
  word-wrap: break-word;
  text-align: center;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0px;
  width: 100%;
}

.delete-icon {
  width: 20px;
  height: 20px;
}

.delete-btn {
  width: 40px;
  height: 40px;
  border-style: none;
  background-color: transparent;
  outline: none;
  margin-right: 10px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: 2%;
}
